//* colors

$text-primery-color:rgba(0, 0, 0, 0.56);
$end-section-border-color : rgba(0, 0, 0, 0.116);

$border-primary-color:rgba(0, 0, 0, 0.116);
$border-secondary-color:rgba(166, 38, 38, 0.56);

$section-title:black;

$input-border-radius:.5rem;

$link-hover-color:rgba(0, 0, 0, 0.87);

$input-placeholder-color:rgba(0, 0, 0, 0.56);
$input-icon-not-focus-color:rgba(0, 0, 0, 0.56);

//* form control 
$form-control-font-size:1.8rem;
$form-control-icon-size:$form-control-font-size;
$form-control-input-padding:1rem;
$form-control-input-stat-text: $form-control-input-padding + $form-control-icon-size +.5rem;
