//* colors

$text-primery-color:rgba(0, 0, 0, 0.56);
$end-section-border-color : rgba(0, 0, 0, 0.116);

$input-placeholder-color:rgba(0, 0, 0, 0.56);
$input-border-color : rgba(0, 0, 0, 0.116);
$input-icon-not-focus-color:rgba(0, 0, 0, 0.56);