.form-control {
  position: relative;
  border: 1px solid $input-border-color;
  width: 100%;
  .form-control-label {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    label {
        opacity: 0;
        @include transition(all .2s ease-in-out);
      margin-right: 1rem;
    }
  }
  input {
    width: 100%;
    padding: 0.5rem;
    padding-right: 3rem;
    &:placeholder-shown+.form-control-label label {
      opacity: 1;
    }
  }
}
