*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

.translated-rtl * {
  letter-spacing: 0 !important;
}

@font-face {
  font-display: swap;
  font-family: sonnat;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/sonnat/sonnat-icons.56d9cde9.woff2");
  src: url("/assets/fonts/sonnat/sonnat-icons.56d9cde9.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("/assets/fonts/iransans/eot/iransans-web-black.eot");
  src: url("/assets/fonts/iransans/woff2/iransans-web-black.woff2") format("woff2"), url("/assets/fonts/iransans/woff/iransans-web-black.woff") format("woff"), url("/assets/fonts/iransans/ttf/iransans-web-black.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  src: url("/assets/fonts/iransans/eot/iransans-web-medium.eot");
  src: url("/assets/fonts/iransans/woff2/iransans-web-medium.woff2") format("woff2"), url("/assets/fonts/iransans/woff/iransans-web-medium.woff") format("woff"), url("/assets/fonts/iransans/ttf/iransans-web-medium.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("/assets/fonts/iransans/eot/iransans-web-light.eot");
  src: url("/assets/fonts/iransans/woff2/iransans-web-light.woff2") format("woff2"), url("/assets/fonts/iransans/woff/iransans-web-light.woff") format("woff"), url("/assets/fonts/iransans/ttf/iransans-web-light.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("/assets/fonts/iransans/eot/iransans-web-ultralight.eot");
  src: url("/assets/fonts/iransans/woff2/iransans-web-ultralight.woff2") format("woff2"), url("/assets/fonts/iransans/woff/iransans-web-ultralight.woff") format("woff"), url("/assets/fonts/iransans/ttf/iransans-web-ultralight.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url("/assets/fonts/iransans/eot/iransans-web.eot");
  src: url("/assets/fonts/iransans/woff2/iransans-web.woff2") format("woff2"), url("/assets/fonts/iransans/woff/iransans-web.woff") format("woff"), url("/assets/fonts/iransans/ttf/iransans-web.ttf") format("truetype");
}
body {
  font-family: IRANSans, yekan, Arial, sans-serif;
}

html {
  font-size: 0.625rem;
}
@media (min-width: 576px) {
  html {
    font-size: 0.75rem;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  font-size: 1.1rem;
}

@keyframes text-write {
  from {
    max-width: 0;
  }
  to {
    max-width: 100vw;
  }
}
body {
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0.56);
}

img {
  width: 100%;
  height: 100%;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-select:focus {
  outline: none !important;
}

#indexPage footer .footer-nemads ul li, #indexPage footer .footer-social ul li, .form-control-input {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-control-label, .form-control-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.form-control {
  font-size: 1.8rem;
  position: relative;
  width: 100%;
}
.form-control-input {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.116);
  font-size: 1.8rem;
  padding: 1rem;
  padding-right: 3.3rem;
}
.form-control-input:focus-within {
  border-color: rgba(166, 38, 38, 0.56);
}
.form-control-input:placeholder-shown + .form-control-label {
  opacity: 1;
  animation: 0.5s forwards ease-in-out text-write;
}
.form-control-icon {
  right: 1rem;
  font-size: 1.8rem;
}
.form-control-label {
  pointer-events: none;
  font-size: 1.8rem;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  right: 3.3rem;
}

#indexPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#indexPage header {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.116);
}
#indexPage header .header-logo {
  margin: 1rem auto;
  width: 6.5rem;
}
#indexPage header nav {
  font-size: 1.2rem;
  width: 100%;
}
#indexPage header nav ul {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 576px) {
  #indexPage {
    margin: auto;
    max-width: 566px;
  }
}
#indexPage main {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  padding: 1rem;
}
#indexPage main .description {
  text-align: center;
  display: none;
}
@media (min-width: 576px) {
  #indexPage main .description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
#indexPage main .section-wrapper .section-title {
  color: black;
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 576px) {
  #indexPage main .section-wrapper .section-title {
    text-align: right;
  }
}
#indexPage main .section-wrapper .section-content .card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
#indexPage main .section-wrapper .section-content .card-item {
  font-weight: 400;
  font-size: 1.5rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#indexPage footer {
  width: 100%;
  text-align: center;
}
#indexPage footer .footer-nemads, #indexPage footer .footer-social {
  margin: auto;
  max-width: 90%;
  border-top: 2px solid rgba(0, 0, 0, 0.116);
  padding: 1rem;
}
#indexPage footer .footer-nemads ul, #indexPage footer .footer-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
#indexPage footer .footer-nemads ul li:hover, #indexPage footer .footer-social ul li:hover {
  color: rgba(0, 0, 0, 0.87);
}
#indexPage footer .footer-nemads li {
  width: 6.2rem;
  height: 6.2rem;
}
#indexPage footer .footer-social ul {
  max-width: 70%;
  margin: auto;
  justify-content: space-between;
}
#indexPage footer .footer-social ul i {
  font-size: 2rem;
}

/*# sourceMappingURL=styles.css.map */
