@charset "UTF-8";
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  direction: rtl;
  scroll-behavior: smooth;
}

.translated-rtl * {
  letter-spacing: 0 !important;
}

@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 900;
  src: url("./../fonts/iransans/eot/iransans-web-black.eot");
  src: url("./../fonts/iransans/woff2/iransans-web-black.woff2") format("woff2"), url("./../fonts/iransans/woff/iransans-web-black.woff") format("woff"), url("./../fonts/iransans/ttf/iransans-web-black.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 700;
  src: url("./../fonts/iransans/eot/iransans-web-medium.eot");
  src: url("./../fonts/iransans/woff2/iransans-web-medium.woff2") format("woff2"), url("./../fonts/iransans/woff/iransans-web-medium.woff") format("woff"), url("./../fonts/iransans/ttf/iransans-web-medium.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("./../fonts/iransans/eot/iransans-web-light.eot");
  src: url("./../fonts/iransans/woff2/iransans-web-light.woff2") format("woff2"), url("./../fonts/iransans/woff/iransans-web-light.woff") format("woff"), url("./../fonts/iransans/ttf/iransans-web-light.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("./../fonts/iransans/eot/iransans-web-ultralight.eot");
  src: url("./../fonts/iransans/woff2/iransans-web-ultralight.woff2") format("woff2"), url("./../fonts/iransans/woff/iransans-web-ultralight.woff") format("woff"), url("./../fonts/iransans/ttf/iransans-web-ultralight.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: IRANSans;
  font-style: normal;
  font-weight: 400;
  src: url("./../fonts/iransans/eot/iransans-web.eot");
  src: url("./../fonts/iransans/woff2/iransans-web.woff2") format("woff2"), url("./../fonts/iransans/woff/iransans-web.woff") format("woff"), url("./../fonts/iransans/ttf/iransans-web.ttf") format("truetype");
}
body {
  font-family: IRANSans, yekan, Arial, sans-serif;
}

html {
  font-size: 0.625rem;
}
@media (min-width: 576px) {
  html {
    font-size: 0.75rem;
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 0.875rem;
}

p {
  font-size: 1.1rem;
}

@keyframes text-write {
  from {
    max-width: 0;
  }
  to {
    max-width: 100vw;
  }
}
body {
  overflow-x: hidden;
  color: rgba(0, 0, 0, 0.56);
}

img {
  width: 100%;
  height: 100%;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-select:focus {
  outline: none !important;
}

#indexPage footer .footer-nemads ul li, #indexPage footer .footer-social ul li, .form-control-input {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.form-control-label, .form-control-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.contact-btn {
  padding: 0.7rem 1.8rem;
  color: white;
  background-color: #a62626;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition-duration: 0.5s;
}

.contact-btn:hover {
  opacity: 0.88;
}

.chat-Btn {
  padding: 0.7rem 3.5rem;
  color: rgba(0, 0, 0, 0.56);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.56);
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  transition-duration: 0.5s;
}

.chat-Btn:hover {
  opacity: 0.88;
  background-color: rgba(128, 128, 128, 0.178);
}

.social-icon i {
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 50%;
  transition-duration: 0.5s;
}

.social-icon i:hover {
  background-color: rgba(128, 128, 128, 0.178);
}

.form-control {
  font-size: 1.8rem;
  position: relative;
  width: 100%;
}
.form-control-input {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.116);
  font-size: 1.8rem;
  padding: 1rem;
  padding-right: 3.3rem;
}
.form-control-input:focus-within {
  border-color: rgba(166, 38, 38, 0.56);
}
.form-control-input:placeholder-shown + .form-control-label {
  opacity: 1;
  animation: 0.5s forwards ease-in-out text-write;
}
.form-control-icon {
  right: 1rem;
  font-size: 1.8rem;
}
.form-control-label {
  pointer-events: none;
  font-size: 1.8rem;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  right: 3.3rem;
}

@media screen and (min-width: 360px) {
  #detail-page .detail {
    padding: 5rem 2rem;
  }
  #detail-page .road {
    display: flex;
  }
  #detail-page .road h4 {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
  }
  #detail-page .road-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 3rem;
    margin-top: 4rem;
  }
  #detail-page .detail-about h1 {
    width: 100%;
    color: black !important;
  }
  #detail-page .detail-about h3 {
    margin-top: 2rem;
  }
  #detail-page .contact-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #detail-page .detail-Btn {
    margin-top: 3rem;
    display: flex;
  }
  #detail-page .detail-Btn button {
    margin-left: 0.5rem;
  }
  #detail-page .social-icon {
    margin-top: 3rem;
    display: none;
  }
  #detail-page #Expertise {
    color: black;
    margin-top: 3.5rem;
  }
  #detail-page .detail-about-product {
    margin-top: 2rem;
  }
  #detail-page .about-product1, #detail-page .about-product2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
  }
  #detail-page .about-product2 {
    color: black;
  }
  #detail-page #undeline {
    border: 0.01px solid rgba(0, 0, 0, 0.56);
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  #detail-page .status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.2rem;
  }
  #detail-page .status h4, #detail-page h5 {
    font-size: 1.6rem;
  }
  #detail-page .status h5 {
    color: black;
  }
  #detail-page .description {
    color: black;
    font-size: 1.8rem;
  }
  #detail-page .description p {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  #detail-page .description button {
    font-size: 1.5rem;
    color: rgb(110, 110, 110);
    padding: 0.4rem;
    border-radius: 5px;
    transition-duration: 0.5s;
  }
  #detail-page .description button:hover {
    background-color: rgba(128, 128, 128, 0.5);
  }
  #detail-page .img-product img {
    width: 100%;
    height: 200px;
    border-radius: 3px;
    margin-bottom: 3%;
    object-fit: cover;
    -o-object-fit: cover;
  }
  #detail-page .another-img {
    display: flex;
    width: 200px;
    height: 100px;
    margin-bottom: 4%;
    display: none;
  }
  #detail-page .another-img img {
    margin-left: 1rem;
    border-radius: 8px;
    object-fit: cover;
    -o-object-fit: cover;
  }
  #detail-page .input-note {
    border: 1.5px solid gray;
    border-radius: 3px;
    transition-duration: 0.1s;
  }
  #detail-page .input-note input {
    max-width: 100%;
    padding: 1rem 1rem 10rem;
    font-size: 1.5rem;
  }
  #detail-page .input-note:hover {
    border: 2px solid rgba(53, 53, 53, 0.384);
  }
  #detail-page .detail-img label {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 1024px) {
  #detail-page .detail {
    padding: 5rem 5rem;
  }
  #detail-page .road-detail {
    column-gap: 7rem;
  }
  #detail-page .detail-about h1 {
    width: 80%;
  }
  #detail-page .social-icon {
    display: block;
  }
  #detail-page .another-img {
    display: flex;
    width: 200px;
    height: 100px;
    margin-bottom: 4%;
  }
  #detail-page .img-product img {
    width: 100%;
    height: 300px;
  }
}

#indexPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#indexPage header {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.25rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.116);
}
#indexPage header .header-logo {
  margin: 1rem auto;
  width: 6.5rem;
}
#indexPage header nav {
  font-size: 1.2rem;
  width: 100%;
}
#indexPage header nav ul {
  padding: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (min-width: 576px) {
  #indexPage {
    margin: auto;
    max-width: 566px;
  }
}
#indexPage main {
  overflow: auto;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  flex-grow: 1;
  padding: 1rem;
}
#indexPage main .description {
  text-align: center;
  display: none;
}
@media (min-width: 576px) {
  #indexPage main .description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
#indexPage main .section-wrapper .section-title {
  color: black;
  text-align: center;
  margin-bottom: 1rem;
}
@media (min-width: 576px) {
  #indexPage main .section-wrapper .section-title {
    text-align: right;
  }
}
#indexPage main .section-wrapper .section-content .card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#indexPage main .section-wrapper .section-content .card-item {
  flex-basis: 32%;
  font-weight: 400;
  font-size: 1.5rem;
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 576px) {
  #indexPage main .section-wrapper .section-content .card-item {
    flex-basis: 20%;
  }
}
#indexPage footer {
  width: 100%;
  text-align: center;
}
#indexPage footer .footer-nemads, #indexPage footer .footer-social {
  margin: auto;
  max-width: 90%;
  border-top: 2px solid rgba(0, 0, 0, 0.116);
  padding: 1rem;
}
#indexPage footer .footer-nemads ul, #indexPage footer .footer-social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
#indexPage footer .footer-nemads ul li:hover, #indexPage footer .footer-social ul li:hover {
  color: rgba(0, 0, 0, 0.87);
}
#indexPage footer .footer-nemads li {
  width: 6.2rem;
  height: 6.2rem;
}
#indexPage footer .footer-social ul {
  max-width: 70%;
  margin: auto;
  justify-content: space-between;
}
#indexPage footer .footer-social ul i {
  font-size: 2rem;
}

@media screen and (min-width: 360px) {
  .product-divar {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 2rem;
  }
  .min-pro {
    width: 100%;
  }
  .main-product {
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.253);
    border-radius: 5px;
    padding: 1rem;
    transition-duration: 0.5s;
  }
  .main-product:hover {
    border: 1px solid rgba(0, 0, 0, 0.493);
    background-color: rgba(128, 128, 128, 0.178);
  }
  .img-divar img {
    width: 100px;
    margin-left: 1rem;
    border-radius: 5px;
  }
  .info-divar h4 {
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
  }
  .info-divar h4 span {
    color: black;
  }
  .time-product {
    display: flex;
  }
  .time-product h4 {
    margin-left: 1rem;
  }
  .menu {
    display: none;
  }
  nav {
    display: none;
  }
  .nav-items-links:hover .nav-item-desks {
    display: block;
  }
  .nav-item-desks div {
    margin-right: 1rem;
    margin-left: 5rem;
  }
  .nav-items-links {
    padding: 0.5rem;
    padding-right: 1rem;
    display: flex;
    align-items: center;
    transition-duration: 0.5s;
    border-radius: 0.5rem;
    color: rgb(86, 86, 86);
  }
  .nav-items-links i {
    margin-left: 0.5rem;
  }
  .nav-items-links:hover {
    background-color: rgb(234, 234, 234);
  }
  .navItems {
    display: flex;
    flex-direction: column;
    width: 17%;
    padding: 1rem;
  }
  .navItems a {
    margin-bottom: 1rem;
  }
  .nav-item {
    display: flex;
  }
  .navItemscontent {
    width: 100%;
    padding: 2rem;
  }
  .navItemscontent a div h4 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .navItemscontent a div h5 {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  .sm-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.5rem;
    padding: 0 3rem;
  }
  .sm-nav div img {
    width: 50px;
  }
  .sm-nav div button {
    background-color: transparent;
    color: gray;
  }
  .sm-nav div button i {
    font-size: 3rem;
  }
  .sm-nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
  #adds-btn {
    padding: 0.7rem 1.8rem;
    color: white;
    background-color: #a62626;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    transition-duration: 0.5s;
  }
  #adds-btn:hover {
    opacity: 0.88;
  }
  .sm-manue {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.8rem 3.8rem 1.2rem;
    gap: 0.5rem;
    width: 100%;
    height: 250px;
  }
  .sm-manue a {
    display: flex;
    font-size: 1.2rem;
    color: gray;
    font-weight: bold;
    transition-duration: 0.5s;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
  }
  .sm-manue a:hover {
    color: rgb(108, 108, 108);
    background-color: rgb(211, 211, 211);
  }
  .sm-manue a i {
    margin-left: 1rem;
  }
  .dis-grid {
    display: grid;
  }
  .my-dropdown, .location-select, .location-select-sm, .my-div-sm {
    display: inline-block;
  }
  .my-dropdown button, #location-btn, #location-btn-sm, #my-div-btn-sm {
    display: flex;
    padding: 1rem 2rem;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
    color: gray;
  }
  .my-dropdown-content, .location-content, .location-content-sm, .my-div-content-sm {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 325px;
    margin-top: 1rem;
  }
  .my-dropdown-content a, .location-content a, .location-content-sm a, .my-div-content-sm a {
    padding: 1rem;
    width: 100%;
    color: gray;
  }
  .my-dropdown-content a:hover, .location-content a:hover, .location-content-sm a:hover, my-div-content-sm a:hover {
    background-color: rgb(241, 241, 241);
  }
  .location-content, .location-content-sm {
    height: 350px;
    overflow: scroll;
  }
  #location-btn-sm i, #my-div-btn-sm i {
    margin-left: 0.5rem;
  }
  #location-btn-sm, #my-div-btn-sm {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    transition-duration: 0.5s;
    font-family: IRANSans, yekan, Arial, sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
  }
  #location-btn-sm:hover, #my-div-btn-sm:hover {
    color: rgb(108, 108, 108);
    background-color: rgb(211, 211, 211);
  }
  .my-div-content-sm {
    height: 280px;
  }
  .flex-display {
    display: flex;
  }
}
@media screen and (min-width: 622px) {
  .product-divar {
    grid-template-columns: 1fr 1fr;
  }
  .sm-manue {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .product-divar {
    grid-template-columns: 1fr 1fr;
    width: 78%;
    margin-right: 20rem;
  }
  .menu {
    display: block;
    position: fixed;
    scrollbar-width: 0;
    top: 110px;
    right: 0;
    background-color: transparent;
    color: white;
    width: 17%;
    height: 100%;
    margin-top: 1rem;
  }
  .sidebar-desk {
    padding: 0 2rem;
  }
  .sidebar-desk ul {
    list-style-type: none;
    padding: 0;
  }
  .sidebar-desk ul li {
    position: relative;
    margin-top: 0.2rem;
  }
  .sidebar-desk a {
    color: gray;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 0.5rem;
    transition-duration: 0.5s;
    font-size: 1.2rem;
  }
  .sidebar-desk a span {
    display: flex;
  }
  .sidebar-desk a span i {
    margin-left: 0.4rem;
  }
  .dropdown-toggles:hover {
    background-color: rgb(233, 233, 233);
  }
  .dropdown-desk {
    display: none;
  }
  .dropdown-desk li a {
    margin: 0 2rem;
  }
  .dropdown-desk li a:hover {
    background-color: rgb(242, 242, 242);
  }
  .dropdown-toggles:after {
    content: " ▼";
  }
  .dropdown-toggles.active:after {
    content: " ▲";
  }
  .social {
    color: rgba(0, 0, 0, 0.56);
  }
  .social div {
    display: flex;
    justify-content: start;
    margin-top: 3rem;
    margin-right: 2.5rem;
  }
  .social div a {
    transition-duration: 0.5s;
  }
  .social div a i {
    margin-right: 2rem;
    font-size: 1.5rem;
  }
  .social div a:hover {
    color: rgb(65, 65, 65);
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 2rem;
  }
  nav div img {
    align-items: center;
    width: 50px;
    object-fit: cover;
    -o-object-fit: cover;
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1rem;
  }
  .nav-link a {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1rem;
    color: gray;
  }
  .nav-link a i {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
  .nav-link button {
    display: flex;
    align-items: center;
  }
  .nav-search input {
    background-color: rgb(241, 241, 241);
    padding: 1rem;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.116);
    font-size: 1.2rem;
    transition-duration: 0.5s;
    width: 28rem;
  }
  .nav-search input:hover {
    border: 1px solid rgba(128, 128, 128, 0.253);
  }
  #Nav-city {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    color: gray;
  }
  .bi-geo-alt {
    margin-left: 1rem;
  }
  .link-nav {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-right: 1rem;
  }
  .sm-nav {
    display: none;
  }
  .sm-manue {
    display: none;
  }
  .nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .dropdown {
    display: inline-block;
  }
  .dropdown button {
    display: flex;
    padding: 1rem 2rem;
    background-color: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 1rem;
    color: gray;
  }
  .dropdown button i {
    margin-right: 0.5rem;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 112rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    height: 500px;
    margin-top: 1rem;
  }
  .dropdown-links {
    display: flex;
  }
  .link-navbar-menu1, .link-navbar-menu2, .link-navbar-menu3, .link-navbar-menu4, .link-navbar-menu5, .link-navbar-menu6, .link-navbar-menu7, .link-navbar-menu8, .link-navbar-menu9, link-navbar-menu10 {
    display: none;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
    padding: 2rem;
  }
  .link-navbar-menu1 div h5, .link-navbar-menu2 div h5, .link-navbar-menu3 div h5, .link-navbar-menu4 div h5, .link-navbar-menu5 div h5, .link-navbar-menu6 div h5, .link-navbar-menu7 div h5, .link-navbar-menu8 div h5, .link-navbar-menu9 div h5, .link-navbar-menu10 div h5 {
    margin-top: 1rem;
  }
  .link-navbar-menu1 div h4, h5, .link-navbar-menu2 div h4, h5, .link-navbar-menu3 h4, h5, .link-navbar-menu4 h4, h5, .link-navbar-menu5 h4, h5, .link-navbar-menu6 h4, h5, .link-navbar-menu7 h4, h5, .link-navbar-menu8 h4, h5, .link-navbar-menu9 h4, h5, .link-navbar-menu10 h4, h5 {
    transition-duration: 0.5s;
    cursor: pointer;
  }
  .link-navbar-menu1 div h4:hover, h5:hover {
    color: red;
  }
  .link-navbar-menu10 h4 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  .dis-block {
    display: block;
  }
  .dis-flex {
    display: flex;
  }
  .dis-none {
    display: none;
  }
  .content {
    display: none;
  }
  .active {
    display: flex;
  }
  .content {
    padding: 0 2.5rem;
  }
  .content a {
    margin-bottom: 1rem;
    transition-duration: 0.5s;
    color: gray;
  }
  .content a:hover {
    color: black;
  }
  .link-sidebar {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    color: gray;
  }
  .link-sidebar a {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    transition-duration: 0.5s;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  .link-sidebar a:hover {
    color: black;
    background-color: rgb(205, 205, 205);
  }
  .link-sidebar a i {
    margin-left: 0.7rem;
    font-size: 1.5rem;
  }
  .bi-arrow-down-short {
    margin: auto;
    font-size: 1.7rem !important;
  }
  .sub-links {
    display: none;
    padding: 1rem;
  }
  .sub-links div {
    margin: 1rem 2rem 2rem 1rem;
  }
  .sub-links div h4 {
    margin-bottom: 0.7rem;
  }
  .sub-links div h5 {
    margin-bottom: 0.7rem;
  }
  .display {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .nav-item-desks {
    display: none;
  }
  .nav-item:hover .nav-item-desks {
    display: block;
  }
}
@media screen and (min-width: 1120px) {
  .nav-search input {
    width: 50rem;
  }
  .nav-link a {
    margin-left: 2rem;
  }
}
:root {
  --login-color: #a62626;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.user-login {
  border-radius: 4px;
  box-shadow: 0 8px 48px 8px rgba(0, 0, 0, 0.04), 0 12px 16px -8px rgba(0, 0, 0, 0.12), 0 24px 32px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  margin: 16px;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding: 2rem;
  background-color: rgba(128, 128, 128, 0.288);
}

.user-login div span {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

.user-login div span i {
  font-size: 2rem;
  color: gray;
  cursor: pointer;
}

.under-line {
  border: 0.1px solid rgba(128, 128, 128, 0.253);
  margin-top: 1rem;
}

.user-login div h3 {
  margin-bottom: 2rem;
}

.user-login div p {
  margin-bottom: 2rem;
  color: gray;
}

.user-login div input {
  width: 100%;
  padding: 0.8rem 0.8rem 0.8rem 0;
  font-size: 1.2rem;
  border: none;
  border: 0.2px solid gray;
  transition-duration: 0.5s;
}

.user-login div input:hover {
  border: 0.8px solid black;
}

.user-login div h4 a {
  text-decoration: none;
  color: var(--login-color);
  margin-left: 0.2rem;
}

.under-linee {
  border: 0.1px solid rgba(128, 128, 128, 0.253);
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.submit-login {
  display: flex;
  justify-content: end;
}

#login, #new-code {
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: var(--login-color);
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  transition-duration: 0.5s;
  margin-right: 0.5rem;
}

#new-code {
  background-color: transparent;
  color: var(--login-color);
  border: 2px solid var(--login-color);
}

.submit-login button:hover {
  opacity: 0.9;
}

/* Login 2 */
#about-login {
  padding-left: 7rem;
  color: gray;
}

#edit-phone {
  display: flex;
  justify-content: end;
  margin-top: 0;
  padding-top: 0;
}

.edit-phone {
  background-color: rgba(128, 128, 128, 0.137);
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1rem;
  color: rgb(114, 114, 114);
  margin-top: 0;
  padding-top: 0;
  align-self: center;
  cursor: pointer;
}

@media screen and (min-width: 360px) {
  .note {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .notes {
    border: 0.1px solid rgba(128, 128, 128, 0.253);
    border-radius: 5px;
    padding: 2rem;
  }
  .note a {
    display: flex;
  }
  .notes a img {
    width: 100px;
    margin-left: 1rem;
  }
  .notes a div h2 {
    margin-top: 1rem;
    margin-bottom: 0.7rem;
  }
  .note a div h4 {
    margin-top: 1rem;
  }
  div i {
    display: flex;
    justify-content: end;
    font-size: 1.9rem;
    cursor: pointer;
  }
}
@media screen and (min-width: 662px) {
  .note {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .note {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/*# sourceMappingURL=styles.css.map */
