#indexPage {
  header {
    padding: 1rem 0;
    @include flex($fdir: column,$gap:.25rem);
    border-bottom: 2px solid $end-section-border-color;
    .header-logo {
      margin: 1rem auto;
      width: 6.5rem;
    }
    nav {
        width: 100%;
      ul {
        padding: .5rem;
        width: 100%;
        @include flex($jcnt: space-around);
      }
    }
  }
  @breakpoint (sm) {
    max-width: 566px;
  }
}
